@import "./reset.css";

/* Body and Main elements */
.container {
    width: min(100% - 30px, 1280px);
    margin-inline: auto;
}

body {
    background-image: url("../image/gameBG.jpg");
    background-size: cover;
    padding-bottom: 20px;
}

/* Instructions Dialog */
#instructions-dlg {
    color: #fff;
    text-align: center;
    width: 710px;
    height: 550px;
    margin: auto;
    padding: 50px 40px 100px;
    border-radius: 50px;
    font-size: 25px;
    background-color: transparent;
    background: linear-gradient(315deg, #D61092, #271092);
    box-shadow: 0 0 500px rgba(0, 0, 0, 0.5);
    animation: 0.25s linear instruct-enter;
}

#instructions-dlg::backdrop {
    background: rgba(13, 16, 19, 0.1);
    backdrop-filter: blur(10px);
}

#instructions-dlg h3 {
    margin: 50px 0 30px;
    font-weight: 800;
}

#instructions-dlg p {
    font-weight: bolder;
}

@keyframes instruct-enter {
    from {
        opacity: 0;
        translate: 0 -10px;
    } to {
        opacity: 1;
        translate: 0 0;
    }
}

/* Scores Dialogs */
#high-score-dlg {

}

#higher-score-dlg {

}

/* Header */

h2 {
    color: #fff;
    text-align: center;
    line-height: 70px;
    font-size: 40px;
}

/* Main */

main {
    height: calc(100vh - 170px);
    color: #fff;
}

/* Timer and Current word display */
.timer {
    margin-top: 100px;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}

.curr-word {
    height: 82.5px;
    text-align: center;
    font-size: 55px;
    font-weight: 700;
    user-select: none;
}

/* Text Input */
.txt-input {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#txt-input {
    color: #fff;
    font-size: 20px;
    text-align: center;
    height: 40px;
    width: 420px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#txt-input:focus {
    border: 1px solid #5adbff;
}

/* Current score */
.curr-score {
    margin-top: 15px;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}

/* Buttons */
button {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.start-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

#start-reset {
    text-align: center;
    height: 40px;
    width: 120px;
    padding: 5px 10px;
    margin: 0 10px;
    border-radius: 5px;
    background-color: #D61092;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
}

#hard-mode {
    display: none;
    text-align: center;
    height: 40px;
    width: 120px;
    padding: 5px 10px;
    margin: 0 10px;
    border-radius: 5px;
    background-color: #d00000;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
}

.score-display-btns {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

#high-score-btn {
    text-align: center;
    height: 45px;
    width: 150px;
    padding: 5px 10px;
    margin: 0 10px;
    border-radius: 50px;
    background-color: #EABA38;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
}

#higher-score-btn {
    text-align: center;
    height: 45px;
    width: 150px;
    padding: 5px 10px;
    margin: 0 10px;
    border-radius: 50px;
    background-color: #2E65F9;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
}

button:active {
    border: 1px solid #000;
}

/* JS activated */

@keyframes rainbow {
    0% { color: #ff0000; 
        filter: hue-rotate(0deg) invert(0) saturate(1) blur(0px);
    }
    10% { color: #ff4000; 
        filter: hue-rotate(36deg) invert(1) saturate(2) blur(1px);
    }
    20% { color: #ff8000; 
        filter: hue-rotate(72deg) invert(0) saturate(3) blur(2px);
    }
    30% { color: #ffbf00; 
        filter: hue-rotate(108deg) invert(1) saturate(4) blur(3px);
    }
    40% { color: #ffff00; 
        filter: hue-rotate(144deg) invert(0) saturate(5) blur(4px);
    }
    50% { color: #80ff00; 
        filter: hue-rotate(180deg) invert(1) saturate(6) blur(5px);
    }
    60% { color: #00ff00; 
        filter: hue-rotate(216deg) invert(0) saturate(5) blur(4px);
    }
    70% { color: #00ff80; 
        filter: hue-rotate(252deg) invert(1) saturate(4) blur(3px);
    }
    80% { color: #00ffff; 
        filter: hue-rotate(288deg) invert(0) saturate(3) blur(2px);
    }
    90% { color: #0080ff; 
        filter: hue-rotate(324deg) invert(1) saturate(2) blur(1px);
    }
    100% { color: #8000ff; 
        filter: hue-rotate(360deg) invert(0) saturate(1) blur(0px);
    }
}

.hard-text {
    animation: rainbow 0.5s linear infinite;
}