@import "./reset.css";

/* Body and Main elements */
.container {
    width: min(100% - 30px, 1280px);
    margin-inline: auto;
}

body {
    background-image: url("../image/gameBG.jpg");
    background-size: cover;
    padding-bottom: 20px;
}

/* Dialog */

dialog {
    color: #fff;
    text-align: center;
    width: 710px;
    height: 550px;
    margin: 30px auto 0;
    padding: 50px 40px 100px;
    border-radius: 50px;
    font-size: 25px;
    background-color: transparent;
    background: linear-gradient(315deg, #D61092, #271092);
}

dialog h3 {
    margin: 50px 0 30px;
    font-weight: 800;
}

dialog p {
    font-weight: bolder;
}

/* Header */

h2 {
    color: #fff;
    text-align: center;
    line-height: 70px;
    font-size: 40px;
}

/* Main */

main {
    height: calc(100vh - 170px);
    color: #fff;
}

.timer {
    margin-top: 100px;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}

.curr-word {
    height: 82.5px;
    text-align: center;
    font-size: 55px;
    font-weight: 700;
    user-select: none;
}

.txt-input {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#txt-input {
    color: #fff;
    font-size: 20px;
    text-align: center;
    height: 40px;
    width: 420px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#txt-input:focus {
    border: 1px solid #5adbff;
}

.start-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

#start-reset {
    text-align: center;
    height: 40px;
    width: 120px;
    padding: 5px 10px;
    margin: 0 10px;
    border-radius: 5px;
    background-color: #009D5D;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
}

#hard-mode {
    display: none;
    text-align: center;
    height: 40px;
    width: 120px;
    padding: 5px 10px;
    margin: 0 10px;
    border-radius: 5px;
    background-color: #d00000;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
}

button:active {
    border: 1px solid #000;
}

.curr-score {
    margin-top: 15px;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}

.high-score {
    margin-top: 15px;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}

.higher-score {
    display: none;
    margin-top: 15px;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}

.instructions {
    background-color: #494b57;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 540px;
    margin: 40px auto 0;
}

/* JS activated */

@keyframes rainbow {
    0% { color: #ff0000; 
        filter: hue-rotate(0deg) invert(0) saturate(1);
    }
    10% { color: #ff4000; 
        filter: hue-rotate(36deg) invert(1) saturate(2);
    }
    20% { color: #ff8000; 
        filter: hue-rotate(72deg) invert(0) saturate(3);
    }
    30% { color: #ffbf00; 
        filter: hue-rotate(108deg) invert(1) saturate(4);
    }
    40% { color: #ffff00; 
        filter: hue-rotate(144deg) invert(0) saturate(5);
    }
    50% { color: #80ff00; 
        filter: hue-rotate(180deg) invert(1) saturate(6);
    }
    60% { color: #00ff00; 
        filter: hue-rotate(216deg) invert(0) saturate(5);
    }
    70% { color: #00ff80; 
        filter: hue-rotate(252deg) invert(1) saturate(4);
    }
    80% { color: #00ffff; 
        filter: hue-rotate(288deg) invert(0) saturate(3);
    }
    90% { color: #0080ff; 
        filter: hue-rotate(324deg) invert(1) saturate(2);
    }
    100% { color: #8000ff; 
        filter: hue-rotate(360deg) invert(0) saturate(1);
    }
}

.hard-text {
    animation: rainbow 0.5s ease infinite;
}