@import "./reset.css";

/* Body and Main elements */
.container {
    width: min(100% - 30px, 1280px);
    margin-inline: auto;
}

body {
    background-image: url("../image/gameBG.jpg");
    background-size: cover;
    padding-bottom: 20px;
    overflow: hidden;
}

/* Instructions Dialog */
#instructions-dlg {
    color: #fff;
    text-align: center;
    width: 710px;
    height: 550px;
    margin: auto;
    padding: 50px 40px 100px;
    border-radius: 50px;
    font-size: 25px;
    background-color: transparent;
    background: linear-gradient(315deg, #D61092, #271092);
    box-shadow: 0 0 500px rgba(0, 0, 0, 0.5);
    animation: 0.25s linear instruct-enter;
}

#instructions-dlg::backdrop {
    background: rgba(13, 16, 19, 0.1);
    backdrop-filter: blur(10px);
}

#instructions-dlg h3 {
    margin: 50px 0 30px;
    font-weight: 800;
}

#instructions-dlg p {
    font-weight: bolder;
}

@keyframes instruct-enter {
    from {
        opacity: 0;
        translate: 0 -10px;
    } to {
        opacity: 1;
        translate: 0 0;
    }
}

/* Scores Dialogs */
#high-score-dlg {
    color: #fff;
    text-align: center;
    margin: auto 0 auto auto;
    padding: 30px;
    height: 100%;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.3);
}

#high-score-dlg h3 {
    text-align: center;
    color: #fff;
    font-size: 25px;
    margin-bottom: 20px;
    animation: 1s ease-in-out score-enter;
}

.high-score-text {
    margin: 15px auto;
    color: #a6eca8;
    display: flex;
    justify-content: space-between;
    translate: 300px 0;
}

#higher-score-dlg {
    color: #fff;
    text-align: center;
    margin: auto 0 auto auto;
    padding: 30px;
    height: 100%;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.3);
}

#higher-score-dlg h3 {
    text-align: center;
    color: #fff;
    font-size: 25px;
    margin-bottom: 20px;
    animation: 1s ease-in-out score-enter;
}

.higher-score-text {
    margin: 15px auto;
    color: #a6eca8;
    display: flex;
    justify-content: space-between;
    translate: 300px 0;
}

.enter-dialog {
    animation: 0.5s ease-in-out forwards score-enter;
}

.exit-dialog {
    animation: 0.5s ease-in-out forwards score-exit;
}

@keyframes score-enter {
    from {
        opacity: 0;
        translate: 300px 0;
    } to {
        opacity: 1;
        translate: 0px 0;
    }
}

@keyframes score-exit {
    from {
        opacity: 1;
        translate: 0px 0;
    } to {
        opacity: 0;
        translate: 300px 0;
    }
}

/* Delete Scores Dialog */
#scores-delete-dlg {
    color: #fff;
    text-align: center;
    width: 610px;
    height: 300px;
    margin: auto;
    padding: 50px 40px;
    border-radius: 50px;
    border: 3px solid #fff;
    font-size: 25px;
    background-color: #151423;
    box-shadow: 0 0 500px rgba(0, 0, 0, 0.5);
    animation: 0.25s linear instruct-enter;
    overflow: hidden;
}

#scores-delete-dlg::backdrop {
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
}

#delete-all-btn {
    text-align: center;
    height: 40px;
    width: 150px;
    padding: 5px 10px;
    margin: 20px 10px 0;
    border-radius: 50px;
    background-color: #d00000;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

/* Header */

h2 {
    color: #fff;
    text-align: center;
    line-height: 70px;
    font-size: 40px;
}

/* Main */

main {
    height: calc(100vh - 170px);
    color: #fff;
}

/* Timer and Current word display */
.timer {
    margin-top: 100px;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}

.curr-word {
    height: 82.5px;
    text-align: center;
    font-size: 55px;
    font-weight: 700;
    user-select: none;
}

/* Text Input */
.txt-input {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#txt-input {
    color: #fff;
    font-size: 20px;
    text-align: center;
    height: 40px;
    width: 420px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#txt-input:focus {
    border: 1px solid #5adbff;
}

/* Current score */
.curr-score {
    margin-top: 15px;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}

/* Buttons */
button {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.buttons-row {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

#start-reset {
    text-align: center;
    height: 40px;
    width: 120px;
    padding: 5px 10px;
    margin: 0 10px;
    border-radius: 50px;
    background-color: #D61092;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
}

#hard-mode {
    display: none;
    text-align: center;
    height: 40px;
    width: 120px;
    padding: 5px 10px;
    margin: 0 10px;
    border-radius: 50px;
    background-color: #d00000;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
}

#high-score-btn {
    text-align: center;
    height: 45px;
    width: 150px;
    padding: 5px 10px;
    margin: 0 10px;
    border-radius: 50px;
    background-color: #EABA38;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
}

#higher-score-btn {
    text-align: center;
    height: 45px;
    width: 150px;
    padding: 5px 10px;
    margin: 0 10px;
    border-radius: 50px;
    background-color: #2E65F9;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
}

#scores-delete-btn {
    text-align: center;
    height: 40px;
    width: 150px;
    padding: 5px 10px;
    margin: 0 10px;
    border-radius: 50px;
    background-color: #800;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
}

button:active {
    border: 1px solid #000;
}

/* JS activated */

@keyframes bg-animation {
    0% {background-position: left; filter: blur(0.5px);}
    100% {background-position: right; filter: blur(6px);}
}

.hard-text {
    background: linear-gradient(90deg, #ff0000, #ff4000, #ff8000, #ffbf00, #ffff00, #80ff00, #00ff00, #00ff80, #00ffff, #0080ff, #8000ff, #0080ff, #00ffff, #00ff80, #00ff00, #80ff00, #ffff00, #ffbf00, #ff8000, #ff4000, #ff0000, #ff4000, #ff8000, #ffbf00, #ffff00, #80ff00);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 500% 500%;
    color: transparent;
    animation: bg-animation 0.4s linear infinite;
}